# AWS Configuration
AWS_REGION=eu-west-2
AWS_DEFAULT_REGION=eu-west-2
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test

# AWS EMF Configuration (for python services)
AWS_EMF_ENVIRONMENT=local
AWS_EMF_AGENT_ENDPOINT=tcp://127.0.0.1:25888
AWS_EMF_LOG_GROUP_NAME=log-group-name
AWS_EMF_LOG_STREAM_NAME=log-stream-name
AWS_EMF_NAMESPACE=namespace
AWS_EMF_SERVICE_NAME=service-name
AWS_EMF_SERVICE_TYPE=python-backend-service

FLOCI_ENDPOINT_URL="http://floci:4566"

AWS_BEARER_TOKEN_BEDROCK=dummy_token_for_bedrock
CLAUDE_SONNET_MODEL_CONFIG="anthropic.claude-sonnet-4-6,arn:aws:bedrock:eu-west-2:123456789012:application-inference-profile/123456789012"

CALLBACK_BASE_URL=http://host.docker.internal:8085

CDP_UPLOADER_BASE_URL=http://host.docker.internal:7337
CDP_UPLOADER_BROWSER_URL=http://localhost:7337
GUIDANCE_S3_BUCKET=ai-uc-rpa-guidance-docs

GUIDANCE_API_URL=http://host.docker.internal:8085
